
JUDGE0_TELEMETRY_ENABLE=false


REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME_STRONG_REDIS_PASSWORD


POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=judge0
POSTGRES_USER=judge0
POSTGRES_PASSWORD=CHANGE_ME_STRONG_POSTGRES_PASSWORD

AUTHN_HEADER=X-Auth-Token
AUTHN_TOKEN=

CPU_TIME_LIMIT=2
MAX_CPU_TIME_LIMIT=15
WALL_TIME_LIMIT=10
MAX_WALL_TIME_LIMIT=20
MEMORY_LIMIT=262144
MAX_MEMORY_LIMIT=512000
